*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000090
}

.parte-superior{
    padding: 20px;
    width: 60vh;
    height: 30vh;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.parte-superior p{
    width: 50%;
    font-size:36px;
}

.parte-superior b{
    color: #FFB431;
}

.parte-superior img{
    width: 200px;
    height: 200px;
}

.parte-superior img.disabled{
    display: none;
}

.parte-superior #i2 .disable{
    
}

.parte-inferior{
    width: 60vh;
    height: 25vh;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.parte-inferior .display-status p{
    margin-top: 6vh;
    display: inline-block;
}

.parte-inferior #palpite{
    width: 55px;
    height: 50px;
    border: 2px solid #DE5540;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.parte-inferior #palpite::-webkit-inner-spin-button,
.parte-inferior #palpite::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.parte-inferior #display-palpites,
.parte-inferior #status-valor{
    color: #FFB431;
}